<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tarantula">
  <xacro:include filename="$(find tarantula_description)/urdf/tarantula_chassis_v2.xacro"/>

  <xacro:arg name="wheel_collision" default="cylinder"/>
  <xacro:tarantula_chassis_v2 prefix="" wheel_collision="$(arg wheel_collision)"/>

  <xacro:arg name="lidar" default="true"/>
  <xacro:if value="$(arg lidar)">
    <link name="lidar_link">
      <visual>
        <geometry><cylinder radius="0.045" length="0.06"/></geometry>
        <xacro:mat_tire/>
      </visual>
      <visual>
        <origin xyz="0 0 -0.06"/>
        <geometry><cylinder radius="0.02" length="0.06"/></geometry>
        <xacro:mat_hub/>
      </visual>
      <inertial>
        <mass value="0.2"/>
        <xacro:cylinder_inertia m="0.2" r="0.045" h="0.06"/>
      </inertial>
    </link>
    <joint name="lidar_joint" type="fixed">
      <parent link="payload_mount"/>
      <child link="lidar_link"/>
      <origin xyz="0.22 0 0.078"/>
    </joint>
  </xacro:if>
</robot>
